*{
    margin: 0px;
    padding: auto;
}
#head{  
    height: 1080px;
       background-image: url(../0.0practice-five/five-pic/depositphotos_243120806-stock-photo-programmer-working-software-development-coding.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
   
}
.head-one{
    color: red;
    text-align: center;
    border: 4px dashed violet;
    padding: 20px;
  
}
#main{ margin: 18px;
    padding: 25px;
    background-color: aqua;
    border: 8px solid rgb(151, 8, 151);
    border-radius: 10px 12px 32px 28px;
    box-shadow: 12px 24px 64px 30px  rgb(119, 9, 27);
  
}
.p-one{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large
    
}
#footer{
    margin: 18px;
    padding: 25px;
    background-color: rgb(227, 255, 48);
    border: 8px solid rgb(70, 255, 141);
    border-radius: 10px 12px 32px 28px;
    box-shadow: 24px 45px 20px 50px    rgb(103, 98, 249);
}
.list{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: rgb(240, 65, 65);
    width: 50px;
}